google-generativeai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pytrends
feedparser
python-dotenv
importlib-metadata
python-telegram-bot
apscheduler
requests
google-cloud-aiplatform
streamlit
gspread
replicate
graphviz
Pillow
firebase-admin
selenium
webdriver-manager
pyperclip
beautifulsoup4
requests
pyngrok
pytz
